.About {
    text-align: center;
    padding: 10px;
    margin-bottom: 10%;
}

.About h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.About h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.About p {
    font-family: 'Quicksand', sans-serif;

}
