/* textarea {
    resize: none;
}

.Post {
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-left: 8%;
}

.input-group {
    text-align: left;
    padding-left: 8%;
} */

.Post h3, h4, p {
    font-weight: 200;
    margin-left: 4vw;
}

.Post img {
    width: 40vw;
    height: 40vw;
}

/* .CommentForm {
    margin-left: 0px;
} */