.Post {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;

  }
  
  .Post h3 {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .Post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  .Post h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .Post p {
    font-size: 1.2em;
  }
  
  .Post h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .Post h3 a {
    color: #333;
    text-decoration: none;
  }
  
  .Post h3 a:hover {
    text-decoration: underline;
  }
  