.ProfileReview {
    margin-left: 2vw;
}
.ProfileReviewHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2vw;
}
.ProfileReviewSongContainer {
    display: flex;
    flex-wrap: wrap;
}
.ProfileReviewSongContainer img{
    height: 40vw;
    width: 40vw;
    margin-right: 2vw;
}

.ProfileReviewSongContainer p{
    font-size: 0.8em;
}