.searchBar {
    max-width: 600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .searchBar select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .searchBar input {
    flex-grow: 1;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .searchBar input:focus,
  .searchBar select:focus {
    outline: none;
    border-color: #9191E9;
  }
  
  .searchBar input::placeholder {
    color: #aaa;
  }
  
  