.title {
    text-align: center;
    padding: 20px;
    background-color: #686868;
    font-family: 'Quicksand', sans-serif;  
  }
  
  .title h1 {
    margin: 0;
    color: #fff;
    font-size: 3.5em;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;  
  }
  
  .title a {
    text-decoration: none;
  }
  
  .title a:hover {
    text-decoration: none;
  }
  
