.title{
    text-align: center;
    background-color: #f4f4f4;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.title h1{
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
}

.title h4 {
    font-style: oblique;
}

.title-link {
    text-decoration: none;
    color: black;
}

.title-link:visited {
    color: black;
}