.App {
  text-align: center;
  margin-bottom: 65px;
}

#logo {
  width: 50px;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  min-height: 10vh;
}